/*Variables*/
@containerBackgroungColor:rgba(255, 255, 255, 0.8);
@mainButtonBackgroungColor:#2475ac;
@mainButtonTextColor:#fff;
@destructiveTextColor:#fff;
@destructiveBackgroundColor:#d0021b;

@import "_ion-action-button";